body{
    font-family: 'NotoSans-Regular NotoSans-Bold';
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

body * { max-height: 999999px; }

.intro-containner{
    padding: 0.53rem 0.33rem;
    p{
        background-color: #EAEAEA;
        padding: 0.66rem 0.4rem;
        font-size: 0.32rem;
        line-height: 0.5rem;
        text-align: justify;
    };
}

.body-containner{
    padding: 0 0.33rem;
     p{
        font-size: 0.32rem;
        line-height: 0.5rem;
        text-align: justify;
    };
}